<form class="domi-form" onsubmit="event.preventDefault()">
  <div class="domi-form__row">
    <div class="domi-form__col">
      <label class="domi-form__label" for="firstName">First name</label>
      <input class="domi-input" id="firstName" type="text">
    </div>
    <div class="domi-form__col">
      <label class="domi-form__label" for="lastName">Last name</label>
      <input class="domi-input" id="lastName" type="text">
    </div>
  </div>
  <div class="domi-form__col">
    <label class="domi-form__label" for="email">Email</label>
    <input class="domi-input" id="email" type="email">
    <span class="domi-form__help">We never share your email.</span>
  </div>
  <button class="domi-btn domi-btn--primary" type="submit">Submit</button>
</form>
